<div id="clientList" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <div fxLayout="column">
                <div fxLayout="row" (click)="onSelectedRow(1)">REGISTRO 1</div>
                <div fxLayout="row" (click)="onSelectedRow(2)">REGISTRO 2</div>
                <div fxLayout="row" (click)="onSelectedRow(3)">REGISTRO 3</div>
                <div fxLayout="row" (click)="onSelectedRow(4)">REGISTRO 4</div>
                <div fxLayout="row" (click)="onSelectedRow(5)">REGISTRO 5</div>
            </div>

        </div>
       
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
