<div  id="contact"  class="page-layout simple tabbed" fxLayout="column">


    
    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true" #matgrid
        [selectedIndex]="selectedTab"
        (selectedTabChange)="onTabChange($event)" >

            <mat-tab label="Lista">
                <client-list></client-list>
            </mat-tab>
            <mat-tab label="Registro">
                <client-register></client-register>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
